<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 日期 </th>
      <td mat-cell *matCellDef="let row"> {{row.date}} </td>
    </ng-container>

    <ng-container matColumnDef="lineName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 产线名称 </th>
      <td mat-cell *matCellDef="let row"> {{row.lineName}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 操作 </th>
      <td mat-cell *matCellDef="let row">
        <button mat-button (click)="openDetail(row)">
          查看详情
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="resultHeaders"></tr>
    <tr mat-row *matRowDef="let row; columns: resultHeaders;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
